NODE_ENV="development"
PORT="3000"

JWT_SECRET="change_me_with_at_least_32_characters"
JWT_ACCESS_EXPIRES_IN="2h"
DEMO_DEFAULT_PASSWORD="demo1234"

AUTH_COOKIE_NAME="auth_token"
AUTH_COOKIE_MAX_AGE_MS="7200000"
AUTH_COOKIE_SAMESITE="lax"

CORS_ORIGIN="http://localhost:3001"
SWAGGER_SERVER_URL="http://localhost:3000"

POSTGRES_USER="your_postgres_user"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_DB="your_postgres_db"
POSTGRES_HOST="your_postgres_host"
POSTGRES_PORT="5432"
POSTGRES_SSL="false"

SEED_RESET_BEFORE="false"

RATE_LIMIT_WINDOW_MS="60000"
RATE_LIMIT_MAX_REQUESTS="120"
RATE_LIMIT_SKIP_GET="true"
AUTH_RATE_LIMIT_WINDOW_MS="900000"
AUTH_RATE_LIMIT_MAX_REQUESTS="20"

BACKUP_DIR="./backups"
BACKUP_RETENTION_DAYS="7"
BACKUP_MAX_FILES="28"

LOG_VIEWER_SECRET="sua-senha-aqui"